In [1]:
import pandas 
data = pandas.read_csv('data/Advertising.csv')
data

        TV  Radio  Newspaper  Sales
0    230.1   37.8       69.2   22.1
1     44.5   39.3       45.1   10.4
2     17.2   45.9       69.3    9.3
3    151.5   41.3       58.5   18.5
4    180.8   10.8       58.4   12.9
..     ...    ...        ...    ...
195   38.2    3.7       13.8    7.6
196   94.2    4.9        8.1    9.7
197  177.0    9.3        6.4   12.8
198  283.6   42.0       66.2   25.5
199  232.1    8.6        8.7   13.4

[200 rows x 4 columns]

In [2]:
# Explanatory Data Analysis(EDA)
# 1. Rows and columns
data.shape

(200, 4)

In [3]:
#2 Descriptive Statisctics(Mean, Mode, std)...
data.describe()

               TV       Radio   Newspaper       Sales
count  200.000000  200.000000  200.000000  200.000000
mean   147.042500   23.264000   30.554000   14.022500
std     85.854236   14.846809   21.778621    5.217457
min      0.700000    0.000000    0.300000    1.600000
25%     74.375000    9.975000   12.750000   10.375000
50%    149.750000   22.900000   25.750000   12.900000
75%    218.825000   36.525000   45.100000   17.400000
max    296.400000   49.600000  114.000000   27.000000

In [4]:
#3. Correlation: Relationship between columns
# Positive : Increase in one columns leads to increase in another column e,g If Petrol Prices increases then the price of commodities increases
# and vice versa

# Negative : Increase in one column, reduces the other columns especially 
data.corr()

                 TV     Radio  Newspaper     Sales
TV         1.000000  0.054809   0.056648  0.782224
Radio      0.054809  1.000000   0.354104  0.576223
Newspaper  0.056648  0.354104   1.000000  0.228299
Sales      0.782224  0.576223   0.228299  1.000000

In [11]:
# Column Analysis
# Tv column
tv_column =data['TV']
 
# a.) Mean
tv_column.std()

85.85423631490808

In [ ]:
# DATA ViSUALIZATION WITH MATPLOTLIB/SEABORN
# STATISTICS USING SCIPY
# MACHINE LEARNING(REGRESSION, CLASSIFICATION, CLUSTERING)
# RECOMMENDER SYSTEMS